app/*\.cache
app/cache/*

app/logs/*

app/config/parameters.yml
app/config/*.local.yml
app/config/deploy.rb
behat.yml

web/*

www/bundles/*
www/css/*
www/js/*
www/assets/compiled/*
www/media/*

bin/behat
bin/doctrine*
bin/phpspec
bin/webunit
bin/phpunit
bin/phpcrodm
bin/phpcrodm.php
bin/jackalope
bin/phpunit
vendor/*

.backups
.bash_history
.bashrc
.cache/*
.gemrc
.htaccess
.profile
.viminfo
archived/*
ftp
logs/*
