<div class="page" id="page-{{ page.id }}">
    <div class="page-header">
        <h1>
            <a href="{{ path('sylius_page_showPage', {'id': page.id|trim('/')}) }}" class="noticia-header">
                {{ page.title }}
            </a>
        </h1>
    </div>
    <div class="contenido">
        {{ page.body|raw }}
    </div>
</div>
